body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
  font-family: "Monsterrat", sans-serif;
}

div {
  font-size: 36px;
  font-family: "Monsterrat", sans-serif;
}

li {
  font-size: 16px;
  font-family: "Monsterrat", sans-serif;
}

p {
  font-size: 20px;
  font-family: "Monsterrat", sans-serif;
}
